* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(./img1.png) no-repeat center/cover;
}

#weather {
    width: 351px;
    height: 577px;
    border: none;
    border-radius: 10px;
    background: transparent;
    object-fit: fill;
    border: 1px solid;
}